@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-grey: #3f4954;
  --text-light: #686666da;
  --white: #ffffff;
  --bgcolour: #0f0f0f;
  --midnight: #104f55;
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fd 100%);

  /* theme font-family */
  --Abel: "Abel", cursive;
  --Arvo: "Arvo", cursive;
  --Lora: "Lora", cursive;
  --Titillium: "Titillium", cursive;


  
  --myfont: "Mulish", sans-serif;
  --my-btn-font: "Montserrat", sans-serif;
  --lg-lightcolor: linear-gradient(
    to left,
    rgba(116, 235, 213, 0.6),
    rgba(159, 172, 230, 0)
  );
  --lg-color: linear-gradient(to left, #74ebd5, #9face6);
}
a{
  text-decoration: none;
}
body {
  background-image: var(--lg-lightcolor),url("./images/trip-2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: var(--myfont);
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  overflow: hidden;
  width: calc(100vw - 65vw);
  max-width: 100%;
}

.header {
  background: var(--lg-color);
  padding: 30px 0;
}

.header h2 {
  color: #222;
  font-family: var(--my-btn-font);
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.form {
  padding: 30px;
}

.form-control {
  margin-bottom: 8px;
  position: relative;
}
.form-control label {
  display: inline block;
  margin-bottom: 5px;
}

.form-control input {
  width: 100%;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  display: black;
  font-family: var(--myfont);
  font-size: 14px;
  padding: 12px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control i {
  position: absolute;
  right: 12px;
  top: 38px;
  visibility: hidden;
}

.form-control.success i.fa-check-circle {
  color: #2ecc74;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  position: relative;
  left: 0px;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form .btn {
  background: var(--lg-color);
  border-radius: 6px;
  border: none;
  outline: none;
  color: #fff;
  display: block;
  font-family: var(--my-btn-font);
  font-size: 16px;
  padding: 15px 0;
  margin-top: 20px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  transition: all is ease;
}

.form main select {
  background: white;
  border-radius: 6px;

  color: black;
  display: block;
  font-family: var(--my-btn-font);
  font-size: 16px;
  padding: 15px 0;
  margin-top: 20px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  transition: all is ease;
}
.form .btn:hover {
  background: linear-gradient(to right, #74ebd5, #9face6);
}

table {
  margin: 50px auto;
  color: white;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid white;
}

th,
td {
  padding: 10px;
}

@media (max-width: 998px) {
  .container {
    width: calc(100vw-35vw);
    max-width: 100%;
  }
}

/*addition*/

.nav {
  margin-bottom: 10px;
  height: 0rem;
  position: relative;
  min-height: 10vh;
  transition: height 1s ease-in-out;
}
.nav .nav-menu {
  justify-content: space-between;
  background-color: white;
  height: 72px;
  width: 100%;
}
.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
}
.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}
.nav .toggle-collapse .toggle-icons {
  font-size: 1.4rem;
  color: var(--text-grey);
}
.collapse {
  height: 30rem;
}
.nav .nav-items {
  display: flex;
  margin: 0;
}
.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--Abel);
  font-size: 1.1rem;
}
.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: inline;
  font-family: var(--Arvo);
  display: flex;
  width: 50%;
  float: left;
}
.nav .nav-items-wrapper{
  width: 30%;
  float: right;
}
.nav .nav-items .nav-link:hover {
  background-color: var(--midnight);
}
.nav .nav-items .nav-link:hover a {
  color: white;
}
.nav .social {
  padding: 1.4rem 0;
}
.nav .social i {
  padding: 0.2rem;
}
.nav .social i:hover {
  color: #a1c4cf;
}

.text-grey{
  margin-left: 20px;
}